In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
health_dataset=pd.read_csv("survey.csv")
health_dataset.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [4]:
health_dataset.shape

(1259, 27)

In [6]:
health_dataset.describe()

                Age
count  1.259000e+03
mean   7.942815e+07
std    2.818299e+09
min   -1.726000e+03
25%    2.700000e+01
50%    3.100000e+01
75%    3.600000e+01
max    1.000000e+11

In [8]:
health_dataset['obs_consequence'].value_counts()

No     1075
Yes     184
Name: obs_consequence, dtype: int64

In [10]:
X =health_dataset.drop(columns='obs_consequence',axis=1)
Y =health_dataset['obs_consequence']

In [11]:
print(X)

                Timestamp  Age  Gender         Country state self_employed  \
0     2014-08-27 11:29:31   37  Female   United States    IL           NaN
1     2014-08-27 11:29:37   44       M   United States    IN           NaN
2     2014-08-27 11:29:44   32    Male          Canada   NaN           NaN
3     2014-08-27 11:29:46   31    Male  United Kingdom   NaN           NaN
4     2014-08-27 11:30:22   31    Male   United States    TX           NaN
...                   ...  ...     ...             ...   ...           ...
1254  2015-09-12 11:17:21   26    male  United Kingdom   NaN            No
1255  2015-09-26 01:07:35   32    Male   United States    IL            No
1256  2015-11-07 12:36:58   34    male   United States    CA            No
1257  2015-11-30 21:25:06   46       f   United States    NC            No
1258  2016-02-01 23:04:31   25    Male   United States    IL            No

     family_history treatment work_interfere    no_employees  ...   anonymity  \
0                No       Yes          Often            6-25  ...         Yes
1                No        No         Rarely  More than 1000  ...  Don't know
2                No        No         Rarely            6-25  ...  Don't know
3               Yes       Yes          Often          26-100  ...          No
4                No        No          Never         100-500  ...  Don't know
...             ...       ...            ...             ...  ...         ...
1254             No       Yes            NaN          26-100  ...  Don't know
1255            Yes       Yes          Often          26-100  ...         Yes
1256            Yes       Yes      Sometimes  More than 1000  ...  Don't know
1257             No        No            NaN         100-500  ...  Don't know
1258            Yes       Yes      Sometimes          26-100  ...         Yes

                   leave mental_health_consequence phys_health_consequence  \
0          Somewhat easy                        No                      No
1             Don't know                     Maybe                      No
2     Somewhat difficult                        No                      No
3     Somewhat difficult                       Yes                     Yes
4             Don't know                        No                      No
...                  ...                       ...                     ...
1254       Somewhat easy                        No                      No
1255  Somewhat difficult                        No                      No
1256  Somewhat difficult                       Yes                     Yes
1257          Don't know                       Yes                      No
1258          Don't know                     Maybe                      No

         coworkers    supervisor mental_health_interview  \
0     Some of them           Yes                      No
1               No            No                      No
2              Yes           Yes                     Yes
3     Some of them            No                   Maybe
4     Some of them           Yes                     Yes
...            ...           ...                     ...
1254  Some of them  Some of them                      No
1255  Some of them           Yes                      No
1256            No            No                      No
1257            No            No                      No
1258  Some of them            No                      No

     phys_health_interview mental_vs_physical comments
0                    Maybe                Yes      NaN
1                       No         Don't know      NaN
2                      Yes                 No      NaN
3                    Maybe                 No      NaN
4                      Yes         Don't know      NaN
...                    ...                ...      ...
1254                    No         Don't know      NaN
1255                    No                Yes      NaN
1256                    No                 No      NaN
1257                    No                 No      NaN
1258                    No         Don't know      NaN

[1259 rows x 26 columns]

In [12]:
print(Y)

0        No
1        No
2        No
3       Yes
4        No
       ...
1254     No
1255     No
1256     No
1257     No
1258     No
Name: obs_consequence, Length: 1259, dtype: object